*
!Dockerfile
!.dockerignore
!tools/
tools/*
!tools/why3_oracle/
tools/why3_oracle/*
!tools/why3_oracle/why3-1.7.2.opam
!tools/why3_oracle/patches/
tools/why3_oracle/patches/*
!tools/why3_oracle/patches/driver-trace.patch
